<nav class="navbar navbar-inverse">
    <div class="conatainer-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" [ngClass]="{collapsed:collapse==true}" (click)="onCollapse()">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                         
              </button>
            <a class="navbar-brand" href="#">RECIPE BOOK</a>
        </div>
    </div>
    <div class="collapse navbar-collapse" [ngClass]="{show:collapse==true}">
        <ul class="nav navbar-nav">
            <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="recipes">Recipes</a></li> -->
            <li routerLinkActive="active"><a routerLink="recipes"*ngIf="isAuthenticated">Recipes</a></li>
            <li routerLinkActive="active"><a routerLink="auth"*ngIf="!isAuthenticated">Authenticate</a></li>
            <li routerLinkActive="active"><a routerLink="shoppingList">Shopping List</a></li>
        </ul>
        <ul class="nav navbar-right navbar-nav">
            <li *ngIf="isAuthenticated" (click)="onLogout()" >
                <a style="cursor: pointer;">Logout</a>
            </li>
            <li class="dropdown" appDropdown *ngIf="isAuthenticated" >
                <a class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a style="cursor: pointer;"(click)="onSaveData()">Save Data</a></li>
                    <li><a style="cursor: pointer;"(click)="onFetchData()">Fetch Data</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>